.container {
  max-width: 80%
  background-color: white;
}

/* HEADER */

.jumbotron {
  text-align: center;
  height: 280px;
  background-color: white;
  background-image: url(../img/platelet.png);
  background-size: 300%;
  background-position: top;
}

.jumbotron img {
  max-width: 35px;
}

.jumbotron h1 {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 3em;
}

/* BODY */

body h3 {
  text-align: center;
  margin: 0 0 20px;
}

body p, li {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

body a {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: blue;
}

a:hover {
  color: blue;
}

.projects li {
  list-style: none;
  text-indent: -1em;
}

/* FOOTER (actually a span lol) */
.foot {
font-size: 14px;
margin: 20px;
}
